.card {
  border: 1px solid lightgrey;
  color: black;
  text-decoration: none;
  transition: all $ease-inout-sine 200ms;

  &:hover {
    color: black;
  }
  
  &__image {
    width: 100%;
  }

  &__title {
    padding: 20px;
    padding-bottom: 10px;
    font-weight: bold;
  }

  &__content {
    padding: 20px;
  }
}
