.tasklist {
  height: 100%;

  &__title {
    font-size: 24px;
  }

  &__section {
    margin-top: 30px;

    &__title {
      font-size: 16px;
      color: $bgcolor-navbar;
      border-bottom: 1px solid lightgrey;
      font-weight: 900;
    }

    &__task {
      display: flex;
      justify-content: space-between;
      align-items:center;

      border-bottom: 1px solid lightgrey;

      cursor: pointer;

      &:hover {
          background-color: lighten($orange, 40);
      }

      &--selected {
          background-color: lighten($orange, 40);
      }

      &__right {
        &__options {
            display: flex;
            align-items: center;

            list-style-type: none;
            margin: 0 10px;

            &__option {
              display: flex;
              padding: 0 10px;
              border-right: 1px solid lightgrey;
            }

            .tasklist__section__task__right__options__option + .tasklist__section__task__right__options__option {
              border-right: none;
            }
        }

        &__date {
          display: inline;
          line-height:25px;
        }
      }

      &__left {
        display:flex;
        align-items:center;
        height:25px;

        padding: 10px 0;

        &__title {
          display: inline-block;
          margin-left: 10px;
        }
      }
    }
  }
}
