.page-project {
  display: flex;
  height: 100%;

  .panel-right {
    width: 100%;
    height: 100%;
    background-color: lighten($bgcolor-navbar, 75%);

    &:after {
      display: block;
      height: 70px;
      content: '';
      background: linear-gradient(to top,#fff 0,rgba(255, 255, 255, 0) 100%);

      position: relative;
    }

    &__inner {
      height: calc(100% - 40px);
      overflow: auto;
      padding: 20px;
    }
  }

  .panel-edit {
    display: block;
    width: 500px;
    height: calc(100% - 40px);

    padding: 20px;
    overflow: auto;

    border-left: 1px solid lightgrey;
    background-color: #EEEEEE;

    &__header {
      display: flex;

      &__title {
        font-size: 18px;
        text-align: center;
        width: 100%;
      }

      &__close {
        display: block;
        width: 25px;
        height: 25px;
        text-align: center;
      }
    }

    &__content {
      margin-top: 20px;
    }
  }
}
