<div class="page-faq">
  <div class="page-faq__title">
    FAQ
  </div>
  <div class="page-faq__content">
  <div class="page-faq__content__questions">
    <a class="page-faq__content__questions__question page-faq__content__questions__question--active">
      <div class="page-faq__content__questions__question__text">
         How much does this service cost ?
      </div>
      <div class="page-faq__content__questions__question__icon">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
    </a>
    <a class="page-faq__content__questions__question">
      <div class="page-faq__content__questions__question__text">
        How many projects can I manage ?
      </div>
      <div class="page-faq__content__questions__question__icon">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
    </a>
    <a class="page-faq__content__questions__question">
      <div class="page-faq__content__questions__question__text">
        Who can access my projects ?
      </div>
      <div class="page-faq__content__questions__question__icon">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
    </a>
    <a class="page-faq__content__questions__question">
      <div class="page-faq__content__questions__question__text">
        How to host my own server ?
      </div>
      <div class="page-faq__content__questions__question__icon">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
    </a>
  </div>
  <div class="page-faq__content__answer">
    <div class="page-faq__content__answer__title">
      How much does this service cost ?
    </div>
    <div class="page-faq__content__answer__content">
      <p>The Colabtask website is a free service for all basic projects, as well as the mobile application that is attached to it.</p>

      <p>You can freely create an account, add projects and use them for as long as you want.</p>

      <p>Non-basic projects can be paid for private enterprise projects to help finance the costs of maintaining our services and to improve the quality of our offer.</p>
    </div>
  </div>
</div> <!-- .page-faq -->
